{{!-- basicamente o method define a forma de como os dados do formulario vai  ser mandado para o back end --}}
<form action="/add" method="post">
    <p>Titulo: </p>
    <input type="text" name="titulo" id="">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>