<h3>Login</h3>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login"  class="registro" method="post">

 
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" required>

        <button class="btn btn-success" type="submit">Entrar</button>
    </div>
    </form>
</div> 